{# 

media item data exid relation extra etc

#}


<div class="">
    
{#    {{ dump(selected) }}#}
<p>{{ selected.media.mediaExtra.original }}</p>
<p>{{ selected.media.mediaExtra.size }}</p>
    
</div>