services:
  # Link container
    kaikmedia_gallery_module.link_container:
        class: Kaikmedia\GalleryModule\Container\LinkContainer
        arguments:
          - "@translator.default"
          - "@router"
          - "@zikula_permissions_module.api.permission"
          - "@=service('zikula_extensions_module.api.variable').get('KaikmediaGalleryModule', 'enablecategorization', true)"
        tags:
          - { name: zikula.link_container }
   
  # management
    kaikmedia_gallery_module.access_manager:
        class: Kaikmedia\GalleryModule\Security\AccessManager
        arguments:
          - "@request_stack"
          - "@translator.default"
          - "@zikula_permissions_module.api.permission"
          
    kaikmedia_gallery_module.settings_manager:
        class: Kaikmedia\GalleryModule\Settings\SettingsManager
        shared: false
        tags:
            - { name: zikula.dizkus.settings_manager }
        arguments: 
            - "@translator.default"
            - "@doctrine.orm.default_entity_manager"
            - "@zikula_extensions_module.api.variable"
            - "@zikula_hook_bundle.collector.hook_collector"
            - "@zikula_extensions_module.api.capability"
          
    kaikmedia_gallery_module.hook_provider.media_ui_hooks_provider:
        class: Kaikmedia\GalleryModule\Hooks\MediaProBundle
        arguments:
            - "@kernel"
            - "@translator.default"
            - "@router"
            - "@request_stack"
            - "@templating"
            - "@zikula_extensions_module.api.variable"
            - "@zikula_permissions_module.api.permission"
        tags:
            - { name: zikula.hook_provider, areaName: "provider.gallery.ui_hooks.media" }
          
#    kaikmedia_gallery_module.hook_provider.gallery_ui_hooks_provider:
#        class: Kaikmedia\GalleryModule\Hooks\GalleryProBundle
#        arguments:
#            - "@kernel"
#            - "@translator.default"
#            - "@router"
#            - "@request_stack"
#            - "@templating"
#            - "@zikula_extensions_module.api.variable"
#            - "@zikula_permissions_module.api.permission"
#        tags:
#            - { name: zikula.hook_provider, areaName: "provider.gallery.ui_hooks.gallery" }
#            
#    kaikmedia_gallery_module.hook_provider.main_image_ui_hooks_provider:
#        class: Kaikmedia\GalleryModule\Hooks\MainImageProBundle
#        arguments:
#            - "@kernel"
#            - "@translator.default"
#            - "@router"
#            - "@request_stack"
#            - "@templating"
#            - "@zikula_extensions_module.api.variable"
#            - "@zikula_permissions_module.api.permission"
#        tags:
#            - { name: zikula.hook_provider, areaName: "provider.gallery.ui_hooks.main_image" }            
#
#    kaikmedia_gallery_module.hook_provider.additional_images_ui_hooks_provider:
#        class: Kaikmedia\GalleryModule\Hooks\AdditionalImagesProBundle
#        arguments:
#            - "@kernel"
#            - "@translator.default"
#            - "@router"
#            - "@request_stack"
#            - "@templating"
#            - "@zikula_extensions_module.api.variable"
#            - "@zikula_permissions_module.api.permission"
#        tags:
#            - { name: zikula.hook_provider, areaName: "provider.gallery.ui_hooks.additional_images" } 

#    kaikmedia_gallery_module.access_manager:
#        class: Kaikmedia\GalleryModule\Security\AccessManager
#    kaikmedia_gallery_module.features_manager:
#        class: Kaikmedia\GalleryModule\Features\FeaturesManager
#    kaikmedia_gallery_module.media_handlers_manager:
#        class: Kaikmedia\GalleryModule\Media\MediaHandlersManager        
#    kaikmedia_gallery_module.media_manager:
#        class: Kaikmedia\GalleryModule\Media\MediaManager    
#   
#  # form fields management     
#    kaikmedia_gallery_module.form.type.settings:
#        class: Kaikmedia\GalleryModule\Form\Type\SettingsType
#        tags:
#            - { name: form.type, alias: settings }    
#            
#  # form fields management     
#    kaikmedia_gallery_module.form.type.features:
#        class: Kaikmedia\GalleryModule\Form\Type\FeaturesType
#        tags:
#            - { name: form.type, alias: features }            
#   # form fields management     
#    kaikmedia_gallery_module.form.type.addmediasettings:
#        class: Kaikmedia\GalleryModule\Form\Type\AddmediaSettingsType
#        tags:
#            - { name: form.type, alias: addmediasettings }   
#  # forms   
#    kaikmedia_gallery_module.form.type.feature_icon:
#        class: Kaikmedia\GalleryModule\Form\Features\IconFeatureType
#        tags:
#            - { name: form.type, alias: kaikmedia_gallery_feature_icon_type }  
# 
# # twig
#    kaikmedia_gallery_module.twig.kmgallery_extension:
#        class: Kaikmedia\GalleryModule\Twig\Extension\KMGalleryExtension
#        arguments: ["@fragment.handler"]
#        tags:
#            - { name: twig.extension }
#  
#    kaikmedia_gallery_module.form.type.addmedia_form:
#        class: Kaikmedia\GalleryModule\Form\Features\AddMediaType
#        tags:
#            - { name: form.type, alias: addmedia }
#  
#    kaikmedia_gallery_module.form.type.media:
#        class: Kaikmedia\GalleryModule\Form\Media\MediaType
#        tags:
#            - { name: form.type, alias: media }
#            
#    kaikmedia_gallery_module.form.type.album:
#        class: Kaikmedia\GalleryModule\Form\Album\AlbumType
#        tags:
#            - { name: form.type, alias: album }
#                       