 {{ render(controller('ZikulaAdminModule:Admin:adminheader')) }}
<h3>
	<span class="fa fa-info"></span> {{ __('Informations and statistics')}}
</h3>
<div class="container-fluid">
    content
</div>
{{ render(controller('ZikulaAdminModule:Admin:adminfooter')) }}
