<div class="item-details-info-box row">
		<div><h4><i class="fa fa-hand-o-right"> </i> {{ __('Media view and edit') }}</h4>
		{{ __('Here you can view and edit media. Just click on any item.') }}
		</div> 	
</div>
<div class="item-details-title-box row hide">
		<div><h4><i class="fa fa-hand-o-right"> </i> {{ __('Details') }}</h4></div>	
</div>
<div class="item-details-preview-box row hide">		
	
</div>
<div class="item-details-box kmgallery_media_details row hide">
			{% include "KaikmediaGalleryModule:Media:item.details.html.twig" %}  
</div>
<div class="item-details-edit-box kmgallery_media_edit row hide">

</div>
