<div class="file-{{ file.id }} file_item thumbnail" >
        {% if file.path  %}        
            <img src="{{ app.request.scheme ~ '://' ~ app.request.host ~ '/web/uploads/' ~ settings.upload_dir ~ '/' ~ file.path }}" />
        {% else %}
            <span class="fa fa-exclamation-triangle fa-2x"> <span/>
                       {{ __('File path is empty!') }}           
        {% endif %}
</div>         		
