
#kmgallery_plugin_public_select {
padding-top:10px;	
	
}

#kmgallery_plugin_user_select {
padding-top:10px;	
	
}

#kmgallery_plugin_upload_select {
padding-top:10px;	
	
}

#kmgallery_plugin_center_col {
	overflow-x:hidden;
	overflow-y: auto;
	border-left: 1px solid #eee;  
	border-right: 1px solid #eee;
	height: 600px;
}

.file_item {
	height:150px;
	overflow:hidden;
}

.file_item img{
    display: block;
    max-width: 300%;
    /* height: auto; */	
}

.selected {
	border:3px solid #ccc;
}


.rounded_box {
	padding: 10px;
	border-radius :5px;
}

.gallery_title {
 
}

