
/* basic stuff */
km_galllery_plugin_container {
    
}
km_galllery_plugin_container .handlers {
    
}
km_galllery_plugin_container .dialog {
    
}
km_galllery_plugin_container .selected-media {
    
}

.km_galllery_plugin_container .handler-add-icon {
    width: auto;
    line-height: initial;
    bottom: -2px;
}

/* item 
.km-gallery .item {
	height:200px;
	overflow:hidden;
        border-radius: 5px;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQkAAADGCAMAAAD2f4WDAAAAPFBMVEVMaXGnqKmnqKmnqKmnqKmnqKmnqKmnqKmnqKmnqKmnqKmnqKmnqKmnqKmnqKmnqKmnqKmnqKmnqKmnqKk/CF/tAAAAE3RSTlMAsKAgYODQwIBA8FBwMBCQ+PPIgHunQgAAAAlwSFlzAAAJTgAACU4BK4RhbwAABVRJREFUeJztneuWokAMhAWRi6DsLu//rnv0DGPk0kmaW3eK+jnrMORTKavCHi92dM3avDQ0j58eTXLruq5LYjz51VSVxb370d3ITGo96zbvvvSIbII19MjSWzdSFv9gKlVNch9TeCmNaIqFetZlMQ3hrVvUw4n18kkHhbeukczir94nOdWxDigS9UlObQTzeGnsk4zyCIdkNe2TnAIfSq15n+RURTapQ4xPcjISwiQ+OdQtzUryoyKAMRZK6pNUeVs/XwDpz6KGoPLJH92L8nNJoL8cbQi7an3y9YZImu95E/KPzWGjLJCPT+ZtNv5E3ZAHRNfWVKXeJ4vyfVmYOBh9wew+ir98fPKeNK5PCvShkYSwa5b6+CR3GaRkI2hrFvgkJ/qJIvC2pvJ4Q1Cf5A5P4W07yQKt4pOMnvSXJS+i3bWaT3KirINra1b1SU4tOUhIIWwDn2SUUZz7DMlqI59kFFoI29AnOdG/e3Bbs7FPckrJcY+7UHj5ZKrzSU7Hh7DdfJI7D/paW/vgrPx8strmk89Rbc3+PsnpiBDm6ZMbp+W9Q5iPTxbr+CSjPduag32SE/27273+QvBJTvRp2iaEheKTnGgIW39lHpRPMqrpM7HmgcPzSe6E6ZmsddAwfZLT2iEsXJ/ktGYIC9wnGa3U1sTgk4xWaGseTRw+yWlZCIvJJzktWpmrb1s40ic5LWprEsfUQx3vk4wWhbBSBiEQn+REz1j7pFXzw/++IcLxSU6L2hruDRGUT3Ja1NbMf5QK0ScZLQph0xeKUH2S0aKVeT2EELRPclqyMv/CKPTJrAxV/z6z/ElU5zjAKHwxLLmvOlT5ZVmjJDyyrFESHlnWKAmP0ssqCX2WtUpCn2WtktDfeWCVhD7LmiWhzrJmSaizrFkS6tKLkqgiVj4k8XWhkGTZYnSEODWeQ5tl7ZLQ3nlglwRtayQhzC4JbQizS0IbwgyTULY1hkko2xrDJJQhzDAJ5Z0Hlkno2hrLJHQhzDIJXQizTELX1pgmoWprTJOgFwo2hJkmobrzwDQJ1Z0HpkmoVua2SWhCmG0SmhBmm4SmrbFNQtPWGCehCGHGSShW5sZJKNoa4yQUIcw6CXkIs05C3tZYJyFva6yTkK/MzZMQr8zNkxCvzM2TEK/MzZMQhzDzJMQhzD4JaVtjn4S0rbFPQhrC7JOQrswBSAjbGgASwhAGQEIYwgBICNsaBBKytgaBhGxljkBCtjJHICFbmSOQkK3MIUiIQhgECVEIgyAhamsgSHyFsLkLBQYJSQjDICFZmWOQkLQ1GCQkIQyEhCCEgZAQtDUgJARfMgZCQhDCQEgIVuYoJPiVOQoJfmWOQoIPYSgk+JU5DAm2rYEhwYYwGBJsCIMhwa7McUhwbQ0OCS6E4ZDgVuY4JLi2BogEfchECAMiwYQwIBLMyhyIBNPWAJFgVuZIJNwhDImEe2WORMLd1iCRcIcwKBLOEAZFwtnWQJFwtjVQJJwhDIuEa2WORcLV1mCRcK3MsUi4QhgWCdfKHIyEo60BI+FYmYORcIQwMBKOlTkaifm2Bo3EfAhDIzEfwtBIzLY1z/H348QpMYmptuaatZQDCIlhCHs0ya0barfT3kBiEl8r87KY/uL/SCG8Jb/eTY4OSaJwEMAi0ToIYJEYfZc5LImngwAWiUvuQIBFInUgwCKRORBgkbhOT/8Xj8Rl/LmyKOsnXBYdhLDunpSV+gghSzPHb1tzS7NPMEck8W5r8rb+Xv0gkrgU5cT/f4IkwR7Bik4SvU4SvU4SvU4SvU4SvU4SvU4SvU4SvU4SvU4SvfxItIUxFUXxH0fai2JSl8WzAAAAAElFTkSuQmCC");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
}

 only images 
.km-gallery .item .item-image {
	height:150px;
	overflow:hidden;
	border: 5px solid #eee; 
        border-radius: 5px;
}

.km-gallery .item img {
    display: block;
    max-width: 300%;
     height: auto; 
    height: 100%;
    width: 100%; 
    object-fit: cover;    

}
.km-gallery .item-details-preview-box {
    overflow: hidden;
    height: 200px;	
}

.km-gallery .feature .relation-data input {
    border:0px;
    border-bottom: 1px dashed #eee;
}

.km_galllery_plugin_container .handlers button {
    
    outline: 0px;
}
.km_galllery_plugin_container .handlers button:focus {
    color: 
    background: transparent;
}


 js actions 
.km-gallery .current {
	border: 1px solid #ccc !important;	
}

.km-gallery .feature .actions {
    position: absolute;
    right: 50%;
    top: 50%;
    bottom:0px;
    background: #ffffff;
    color: #fff;
    border: 1px solid #fff;
    border-bottom: 1px dashed #eee;
    border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.km-gallery .feature .remove-action {
    background: #8e8e8e;
    color: #990000;
    border-left: 1px dashed #eee;
    border: 1px solid #fff;
}

.km-gallery .feature .upload-action {
    background: #8e8e8e;
    color: #fff;
    border: 1px solid #fff;
    border-left: 1px dashed #eee;
    border-right: 1px dashed #eee;
}

.km-gallery .feature .re-upload-action {
    background: #8e8e8e;
    color: #fff;
    border: 1px solid #fff;
}

#overlay {
	position:absolute;
	top:0;
	left:0;
    width: 100%;
    height: 100%;
    display:table;
    background: rgba(255, 255, 255, 0.5);
}
#overlay i {
   display:table-cell;
    vertical-align:middle;
    text-align:center;
}*/


/*  */


/* Previews  */
/*#kmgallery_plugin_selected_icon_preview {
	
	
}

#kmgallery_plugin_selected_featured_preview {
	
	
}

#kmgallery_plugin_selected_additional_preview {
	height:200px;
	overflow:auto;
}*/


/* Manager columns - layout 


#kmgallery_manager .modal-body {
    background-color: #eee;
    padding-top: 0px;
    padding-bottom: 0px;	
}


 Manager columns - layout 


#kmgallery_manager_selected {
    background-color: #F7F7F7;
    padding-top: 15px;
    padding-bottom: 15px;
	height: 700px; 
	overflow:auto;   	
}
#kmgallery_manager_library {
	overflow-x:hidden;
	overflow-y: auto;
	border-left: 1px solid #eee;  
	border-right: 1px solid #eee;
	height: 700px;
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;    	
}

#kmgallery_manager_details {
	overflow-x:hidden;
	overflow-y: auto;
	height: 700px;
}


 features - boxes 
#kmgallery_manager_media_box {
	padding-top:10px;	
}

#kmgallery_manager_user_box {
	padding-top:10px;	
}

#kmgallery_manager_upload_box {
	padding-top:10px;		
}

#kmgallery_manager_library_search {
	margin:10px;
}*/


/*
.media-toggle {

}

.media-add {
    position: absolute;
    top: 0;
    left: 10px;
    background: #fff;
}

.not-input {
    background: none;
    padding-left: 0px;
    outline: none;
    border: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;		
}

#kmplugin_selected_col_title {
	padding:10px;
	padding-left:15px;
	background: #fff; 
	/* border-bottom:1px solid #DEDDDD; */	

/*
.kmgallery_media_details {
	background: #F5F5F5;
	padding-bottom: 10px;
}

.kmgallery_media_edit {
	background: #eee;
	border-top:1px solid #DEDDDD;	
}

#kmgallery_plugin_selected_box .item {
	height:auto;
	overflow:hidden;	
}

#kmgallery_plugin_selected_box .original {
	background: #fff;
	border: 5px solid #fff;
}

#kmgallery_plugin_selected_box .item .original img{
	width:100%;
}


.media_item {
	height:170px;
	overflow:hidden;
}

.original_item {
	height:150px;
	overflow:hidden;
	border: 5px solid #eee;
}

.original_item img{
    display: block;
    max-width: 300%;
     height: auto; 	
}
.rounded_box {
	padding: 10px;
	border-radius :5px;
}

.gallery_title {
 
}



.type-additional .original{
	border: 2px solid #337AB7;
}

*/

