/*  */

.media-item {
  min-height: 180px;
}

.media-progress {
  margin-bottom:5px;
}

.media-preview {
  text-align: center;
}

.media-preview-file {
    
    
}

.media-preview-icon {
    
    
}

.media-details {
    
    
}