{% block _settings_hooks_widget %}
    {% spaceless %}
        {% for child in form %}
            <div class="col-md-12">
                {{ form_widget(child) }}
            </div>
        {% endfor %}
    {% endspaceless %}
{% endblock %}