<div class="gallery_title"><h4>{{ __('Selected media') }}</h4></div>       
 {%for tmedia in media %}
 <div class="col-md-2"> {% include "KaikmediaGalleryModule:Media:media.html.twig" with {'settings': settings, 'media':tmedia, 'file': tmedia.media}  %}  </div>                       		
 {% else %}
 <p class="alert alert-warning text-center"> {{ __('No files found') }} </p>
 {% endfor %}