{% set obj_settings = attribute(settings, obj_name) %}
{% set obj_features = attribute(obj_settings, 'features') %}  
<script>
    (function ($) {
        $(function () {
                    KaikMedia.Gallery.Plugin.init($('#kmgallery_plugin_container'), 'KaikmediaPagesModule', 'new');
        });
    })(jQuery);
</script>

<div id="kmgallery_plugin_container">
    <div id="kmgallery_plugin_selected_previews">
    {% for feature in obj_features %}
        {% if feature.enabled and feature.type == 'feature' %}
            <div class="col-md-2">
                <h5>{{ feature.name }}</h5>
            </div>
        {% endif %}
    {% endfor %}    
    </div>
    {% include "KaikmediaGalleryModule:Manager:manager.html.twig" %}  
</div><!-- /#kmgallery_plugin_container -->