   {%for publicItem in public %}
     {% include "KaikmediaGalleryModule:Plugin:item.html.twig" with {'settings': settings, 'relation':false, 'original':publicItem, 'css': 'col-md-2'}  %}
    {% else %}
        <p class="alert alert-warning text-center"> {{ __('No files found') }} </p>
    {% endfor %}                    