{% if relation is defined or original is defined %}
	{% if original is defined %}
		<div class="row item">
			{% include "KaikmediaGalleryModule:Plugin:item.original.html.twig" with {'settings': settings, 'original':original}  %}  
		</div>
		<div class="col-md-12 details">
			{# original file details #}		
		</div>
		{% if relation is defined and relation == false %}
			{% include "KaikmediaGalleryModule:Plugin:item.modify.html.twig" with {'settings': settings, 'original':original}  %}  					
		{% endif %}	
	{% endif %}
		{% if relation is defined and relation != false %}
				{# this is configurable using templates #}
				{% if relation.type == 'icon' %}
					{% include "KaikmediaGalleryModule:Plugin:feature.icon.modify.html.twig" with {'settings': settings, 'original':original}  %}  						
				{% elseif relation.type == 'featured' %}
					{% include "KaikmediaGalleryModule:Plugin:feature.featured.modify.html.twig" with {'settings': settings, 'original':original}  %}  										
				{% elseif relation.type == 'additional' %}				
					{% include "KaikmediaGalleryModule:Plugin:feature.additional.modify.html.twig" with {'settings': settings, 'original':original}  %}  						
				{% endif %}
		{% endif %}

		<div class="col-md-12 relation hide">
			<div class="btn-group-vertical" role="group" aria-label="...">
						  <button type="button" class="btn btn-default">{{ __('Select as icon') }}</button>
						  <button type="button" class="btn btn-default">{{ __('Select as featured') }}</button>
						  <button type="button" class="btn btn-default">{{ __('Select as additional') }}</button>
			</div>			
		</div>	


{% else %}

{% endif %}