{% if relation is defined or original is defined %}
	{% if original is defined %}
		<div class="col-md-12 item">
			{% include "KaikmediaGalleryModule:Plugin:original.html.twig" with {'settings': settings, 'original':original}  %}  
		</div>
		<div class="col-md-12 details">
					
		</div>
		{% if relation is defined and relation == false %}
			{% include "KaikmediaGalleryModule:Plugin:modify.media.html.twig" with {'settings': settings, 'original':original}  %}  		
			
		{% endif %}	
	{% endif %}
		{% if relation is defined and relation != false %}
			{% include "KaikmediaGalleryModule:Plugin:modify.relation.html.twig" with {'settings': settings, 'original':original}  %}  		
		{% endif %}

		<div class="col-md-12 relation hide">
			<div class="btn-group-vertical" role="group" aria-label="...">
						  <button type="button" class="btn btn-default">{{ __('Select as icon') }}</button>
						  <button type="button" class="btn btn-default">{{ __('Select as featured') }}</button>
						  <button type="button" class="btn btn-default">{{ __('Select as additional') }}</button>
			</div>			
		</div>	


{% else %}

{% endif %}