{%for umedia in user %}
 <div class="col-md-2"> {% include "KaikmediaGalleryModule:Media:media.html.twig" with {'settings': settings, 'media':false, 'file':umedia}  %}  </div>
{% else %}
<p class="alert alert-warning text-center"> {{ __('No files found') }} </p>
{% endfor %}           